*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxygen', sans-serif;
}
:root{
    --blue: rgb(1 30 254);
    --textShadowTITLES: 3px 4px 3px rgb(0 47 255), 6px 6px 6px rgb(11 63 231); 
    --red: #dc1c2f;
    --grey: rgb(30,48,80);
    --green: #008e0e;
    /*--darkblue: #1B2948;
    --red: #dc1c2f; /*#dc3545*
    --blue:#007bff;
    --background: #fff;*/
}
.oculto{
    display: none;
}
.skew-abajo{
    position: relative;
    bottom: 10vh;
    left: 0;
    border-width: 0 0 10vh 100vw;
    border-style: solid;
    border-color: transparent transparent rgb(11 12 12) transparent;
}
.skew-arriba{
    position: relative;
    top: 10vh;
    left: 0;
    border-width: 10vh 100vw 0 0;
    border-style: solid;
    border-color: rgb(11 12 12) transparent transparent transparent;
    z-index: 10;
}
/**
    font-family: 'Gasoek One', sans-serif;
    font-family: 'Moirai One', cursive;
    font-family: 'Oxygen', sans-serif;
    font-family: 'Roboto Slab', serif;
    font-family: 'Rock 3D', cursive;
**/
/**************************/
.containerContent{
    width: 90%;
    margin: 0 auto;
}
/**********************************************header*************************************/
header{
    height: 100vh;
    background-image: url(./images/codigo\ 01.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.effectOpacity{
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.86);
    display: flex;
    justify-content: center;
    align-items: end;
}
.headerContent{
    width: 90%;
    padding-left: 2vw;
    color: #fff;
    margin: 0 auto 75px;
}
.headerText h1{
    font-family: 'Moirai One', cursive;
    font-weight: 600;
    font-size: 45px;
    text-shadow: 7px 6px 4px rgb(255, 0, 0), 3px 4px 2px rgb(11 63 231);
    letter-spacing: 1px;
    /*color: #0044ff;*/
    color: #6d7bff;
    -webkit-text-stroke: 0.5px #efeffc;
    margin-bottom: 5px;
}
.headerText p{
    /*hacer variable*/
    color: #fff;
    font-size: 17px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bolder;
}
.headerButtons{
    display: flex;
    justify-content: space-between;
    padding-top: 12px;
    margin: 0 0 50px 0;
}
.headerButtons a{
    padding: 12px 11%;
    border-radius: 5px;
    color: rgb(255 255 255);
    text-decoration: none;
    text-align: center;
    font-family: 'Roboto Slab', serif;
    box-shadow: inset 1px 1px 7px rgb(1 30 254), 4px 4px 7px 1px rgb(176 0 0);
    text-shadow: 3px 2px 2px rgb(0 38 211), 4px 3px 2px rgb(255 0 0);
    -webkit-text-stroke: 0.3px #1400ff;
}
/***********************************MAIN********************************************/
main{
    background-color: rgb(11 12 12);
}
/**************************************************ABOUT ME******************************/
.aboutMe .aboutMeHead{
    margin: 10px auto;
    width: 90%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.aboutMe .aboutMeHead h2{
    margin-left: 50px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Moirai One', cursive;
    font-size: 30px;
    font-weight: bolder;
    color: #Fff;
    text-shadow:var(--textShadowTITLES);
}
.aboutMe .aboutMeHead img{
    height: 60px;
    width: 60px;
    border-radius: 50%;
}
.aboutMe .aboutMeMain p{
    margin: 0 auto 50px;
    color: #fff;
    font-size: 16px;
    margin-bottom: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}
.aboutMe .aboutMeMain .aboutMeMisConocimientos{
    width: auto;
}
.aboutMe h3{
    text-align: center;
    color: #fff;
    margin:50px 0 10px;
}
.aboutMe hr{
    width: 90%;
    margin: 0 auto 13px;
    color: #fff;
    box-shadow: 0px 2px 4px 2px #fff;;
}
/*iconos lenguajes*/
.containerKnowledgeIcons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}.containerKnowledgeIcons svg{
    color: #fff;
    text-align: center;
    height: 50px;
    width: 100%;
}#svgHTML{
    fill: red;
    filter:drop-shadow(2px 3px 2px #0033ff);
}#svgCSS{
    fill: blue;
    filter:drop-shadow(2px 3px 2px #ff0000);
}#svgJS{
    fill: yellow;
    filter:drop-shadow(2px 3px 2px #0033ff);
}#svgPY{
    fill: violet;
    filter:drop-shadow(2px 3px 2px #0033ff);
}#svgSQL{
    fill: white;
    filter:drop-shadow(2px 3px 2px #ff0000);
}#svgGIT{
    fill: orange;
    filter:drop-shadow(2px 3px 2px #0033ff);
}
    
.containerKnowledgeIcons-p{
    font-size: 10px !important;
    text-align: center;
}
/********************/
.aboutMeContainerButton{
    display: flex;
    justify-content: center;
}
/**********************************/
.button{
	padding: 1.5em 3em;
	border: 0;
	background: transparent;
	color: #e55743;
	letter-spacing: .25em;
	border: 2px solid #e55743;
}.button:hover{
    background: rgb(180, 7, 7);
    border: 2px solid #fff;
    color: #fff;
    transition: all 0.5s;
    
}
/**MY WORK**/
.myWork{
    background-color: #000;
}
.myWork h2{
    text-align: center;
    padding-top: 80px;
    color: #Fff;
    font-family: 'Moirai One', cursive;
    font-size: 30px;
    font-weight: bolder;
    text-shadow:var(--textShadowTITLES);
}
.myWork p{
    margin: 5px auto 0;
    color: #fff;
    font-size: 18px;
    margin-bottom: 20px;
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
    line-height: 23px;
}
/*galeria de myworks con bootstrap*/
.gallery img{
    width: 90%;
    max-width: 100%;
    margin: 10px auto;
    display: inline-block;
    background-color: #fff;
    box-shadow: 3px 4px 3px rgb(0 47 255), 6px 6px 6px rgb(231, 11, 11);
    cursor: pointer;
    border: 1px solid #fff;
}
#gallery-modal .modal-img{
    width: 100%;
}
.container-lg{
    --bs-gutter-x: 0;
    margin: 0 auto;
}.col{
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}.gy-4{
    --bs-gutter-y: 0;
    width: 100%;
    margin: 0 auto;
}
/*modal abierto*/
.modal-content{
    justify-content: center;
    margin: 0 auto;
    width: 100%; /*responsive*/
}
.modal-body{
    padding: 5px;
}

/**************************************************contacto*********************************/
#contact{
    background-color: #bcbbbb;
    padding: 20px 0;
}
.contactContainer{
    border-radius: 20px;
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    border-radius: 20px 20px 0 0;
}

/*formulario*/
.form{
    display: grid;
    grid-template-columns: 1fr; /*responsive*/
}

/*seccion de formulario*/
/*.formContact{
    background-color: #000;
    border-radius: 20px 20px 0 0;
}*/
.formContactContent{
    margin: 10px 5px;
    padding: 17px;
}
.formContactContent label{
    color: #fff;
    font-size: 18px;
}
.formContactContent input,.formContactContent textarea{
    width: 80%;
    margin: 4px 0 25px;
    height: 30px;
    border: none;
    border-bottom: var(--green) 2px solid;
    border-left: var(--green) 2px solid;
    border-right: var(--green) 2px solid;
    background: none;
    color: #fff;
    font-size: 17px;
}.formContactContent textarea{
    width: 95%;
    height: 5em;
    max-height: auto;
    margin-bottom: 6px;
}
#sendForm{
    outline: none;
    width: 19em;
    height: 45px;
    margin: 15px auto;
    text-align: center;
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid var(--green);
    color: #fff;
    letter-spacing: 1px;
    text-shadow: 0;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.25s ease;
}#sendForm:hover{
    background-color: var(--green);
    color: #fff;
}
/*seccion de mis datos de contacto*/
.formMyInfo{
    background-color: #000;
    border-radius: 20px;
    padding: 17px;
}
.formMyInfoContent{
    width: 93%;
    margin: 0 auto;
}

/*estilo global de cada una de las cajas de los botones*/
.formMyInfoITEM{
    display: flex;
    align-items: center;
    padding: 13px;
    border-radius: 8px;
    border: 1px solid rgb(255, 255, 255);
    background-color: #000;
}
.formMyInfoContent a{
    text-decoration: none;
}
.formMyInfoContent p{
    display: inline-block;
    font-size: 13px;
    text-align: center;
    width: 100%;
    color: #fff;
}

/*iconos de botones de contacto*/
.formMyInfoContent svg{
    width: 25px;
    margin: 0 10px 0 0;
    display: inline-block;
    fill: #fff;
}
/*#svgMAIL{
    fill: #fff;
}#svgWSP{
    fill: #fff;
}#svgGITHUB{
    fill: #fff;
}#svgLINKEDIN{
    fill: #fff;
}*/

/*estilos INDIVIDUALES de cada color de los contenedores de botones de contacto*/
#a-MAIL{
    background-color: #ff0000;
}#a-WSP{
    background-color: #008e0e;
}#a-LINKEDIN{
    background-color:#0033ff;
}



/***********************************RESPONSIVE***************************************/
@media (min-width:360px){
    .headerContent{
        padding-left: 6vw;
        margin: 0 auto 90px;
    }
    .headerButtons{
        justify-content: space-evenly;
        width: 100%;
    }.headerButtons a{
        width: 45%;
    }
}
@media (min-width:400px){
    .containerContent{
        width: 90%;
    }
    .containerKnowledgeIcons svg{
        height: 60px;
    }
}
@media (min-width:500px){
    .containerKnowledgeIcons{
        width: 80%;
        margin: 0 auto;
    }
    .headerContent{
        width: 80%;
    }
    .contactContainer{
        width: 80%;
    }
}
@media (min-width:570px) {
    .headerContent{
        width: 75%;
    }
    .headerText p{
        margin: 10px 0;
    }
}
@media (min-width:700px) {
    .headerContent{
        width: 50%;
        padding-left: 0vw;
    }
    .headerText p{
        margin: 10px 0;
    }
    .headerText p{
        margin: 15px 0;
    }
    .headerButtons{
        justify-content: space-between;
    }
    .aboutMe .aboutMeMain p{
        text-align: center;
    }
    .containerKnowledgeIcons{
        width: 70%;
    }
    .contactContainer{
        width: 70%;
    }
}
@media (min-width:800px){
    .headerContent{
        width: 50%;
    }
    .containerContent{
        width: 75%;
    }
    .aboutMe .aboutMeHead img{
        height: 80px;
        width: 80px;
    }
    .contactContainer{
        width: 90%;
    }
    .form{
        grid-template-columns: 2fr 1fr;
    }
    #a-MAIL p{
        font-size: 11px;
    }
    .formMyInfoContent{
        height: 100%;
    }
    .formMyInfoITEM{
        margin: 5px auto;
    }
}
@media (min-width:900px){
    .headerContent{
        margin: 0 auto 75px 150px;
    }
    .effectOpacity{
        justify-content: left;
    }
    .containerKnowledgeIcons{
        width: 70%;
    }
    .containerKnowledgeIcons svg{
        height: 75px;
    }
}
@media (min-width:1050px){
    .headerContent{
        width: 40%;
        margin: 0 auto 75px 200px;
    }
    .contactContainer{
        width: 85%;
    }
}
@media (min-width:1200px){
    .headerContent{
        width: 38%;
        margin: 0 auto 75px 250px;
    }
    .aboutMe .aboutMeHead img{
        height: 100px;
        width: 100px;
    }
}